<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoSimulator - About Us</title>
    <link rel="stylesheet" href="../static/CSS/about.css">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/Images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/Images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/Images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/" id="title"><img src="../static/Images/logo.png" id="logo"> <h2>ExoSimulator</h2></a>
            <a href="/playground" class="links">Playground</a>
            <a href="/data-science" class="links">Data Science</a>
            <a href="/simulator" class="links">Simulation</a>
            <a href="/about" class="links active">About</a>
            <a href="/" class="links">Home</a>
        </div>
    </header>
    <h3 class="about-us">About Page</h3>
    <div class="about-content">
        <div id="developer" class="left">
            <h3>About The Developer</h3>
            <p>
                I am Hasnain Koser a 14-year-old and currently studying in 10th Grade at Victorious Kidss Educares. I have keen 
                interest in Astronomy and Astrophysics. <br> <br>

                As a child, I have always been fascinated by the wonders of space. The beautiful, vast void full of information 
                yet to be discovered. I love learning about space with my special interests in science and maths. <br> <br>

                I also like to code and automate things using Python also I love dirtying my hands on Javascript. To complete this 
                project I have learned Python, Javascript, Datasceince from scratch. <br> <br>
            </p>
        </div>
        <div id="project" class="left">
            <h3>About The Project</h3>
            <p>
                This project is a Web Application named ExoSimulator as its main focus is on Exoplanets and hence the name. <br> <br>

                Exoplanets are worlds out of our solar system and currently out of our reach. We live in our solar system but we don't 
                know how many such planetary systems that exist out there. <br> <br>

                We have so much data and information about our own solar system, but does that help us generalize and tell us 
                everything there is to know about planetary systems? Well... Not quite. You see our solar system is unique and has 
                such amazing and interesting features but not all solar systems are the same. Analyzing data from space missions 
                such as Kepler or TESS who have been able to find thousands of exoplanets orbiting other stars, helps us compare 
                their properties, a good look at a wider range of data can help us understand to explore how planetary systems to 
                function or how certain properties affect others 
                (To Learn more - <a href="/data-science" class="prlink">Go to our Data Science Page</a>). <br> <br>

                Sometimes it can also be extremely hard to visualize these planetary systems and understand how they actually look and 
                function, what are their physical properties, although a simulation could potentially help to better visualize these 
                systems and solve the issue making it easier for us to spot different properties and trends, understanding how the 
                planetary system actually looks like and what it would be like to stay in such a system or planet 
                (To Learn more - <a href="/simulator" class="prlink">Go to our Simulation</a>). <br> <br>

                Finally Imagine if you could design your own system based on real-life data and models, how changing a certain value 
                affects the system and what changes it makes, perfecting and determining the exact values to possibly even make our 
                own solar system. This is where a combination of data science and simulation would be required and hence the 
                playground mode was created to view the influence of one property on another 
                (To Learn more - <a href="/playground" class="prlink">Go to our Playground Mode</a>).
            </p>
        </div>
    </div>
    <h3 class="tutorial" id="tutorial">Tutorials</h3>
    <div class="tutorialvids col-6">
        <h3>1. Introduction</h3>
        <iframe src="https://www.youtube.com/embed/RbHteCgsE-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tutorialvids col-6">
        <h3>2. Simulation</h3>
        <iframe src="https://www.youtube.com/embed/OFHVVsEYrCw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tutorialvids col-6">
        <h3>3. Data Science</h3>
        <iframe src="https://www.youtube.com/embed/7hLgn9jZbFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tutorialvids col-6">
        <h3>4. Playground</h3>
        <iframe src="https://www.youtube.com/embed/EAsEAnDC57g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <footer>
        <div class="foot col-12">       
            <div class="col-4">
                <h4>Website Links</h4>
                <a href="/" class="anchor">Home</a> <br>
                <a href="/about" class="anchor">About</a> <br>
                <a href="/simulator" class="anchor">Simulator</a> <br>
                <a href="/data-science" class="anchor">Data Science</a> <br>
                <a href="/playground" class="anchor">Playground</a>
            </div>
            <div class="col-4">
                <h4>References</h4>
                <p>Background image by - </p>
                <p><a href="https://pixabay.com/users/g4889166-4889166/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2253941" target="_blank">G4889166</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2253941" target="_blank">Pixabay</a></p>
            </div>
            <div class="col-4">
                <img src="/static/Images/logo.png" alt="Exosimulator Logo" class="logoimg" align="center">
                <h3>ExoSimulator</h3>
            </div>
        </div>    
    </footer>
    <script src="../static/JavaScript/about.js" defer></script>
</body>
</html>