<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/Images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/Images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/Images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="navbar" style="background-color: #333;">
            <a href="/" id="title"><img src="../static/Images/logo.png" id="logo"> <h2>ExoSimulator</h2></a>
            <a href="/playground" class="links">Playground</a>
            <a href="/data-science" class="links">Data Science</a>
            <a href="/simulator" class="links">Simulation</a>
            <a href="/about" class="links">About</a>
            <a href="/" class="links active">Home</a>
        </div>
    </header>
    <div style="height: 420px;"> </div>
    <footer>
        <div class="foot col-12">       
            <div class="col-4">
                <h4>Website Links</h4>
                <a href="/" class="anchor">Home</a> <br>
                <a href="/about" class="anchor">About</a> <br>
                <a href="/simulator" class="anchor">Simulator</a> <br>
                <a href="/data-science" class="anchor">Data Science</a> <br>
                <a href="/playground" class="anchor">Playground</a>
            </div>
            <div class="col-4">
                <h4>References</h4>
            </div>
            <div class="col-4">
                <img src="../static/Images/logo.png" alt="Exosimulator Logo" class="logoimg" align="center">
                <h3>ExoSimulator</h3>
            </div>
        </div>    
    </footer>
</body>
</html>